.Container {
  background: rgba(255, 255, 255, 0.459);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 60vw;
  height: 70vh;
  margin: 50px auto;
  display: flex;
}
.Navigation {
    width: 25%;
    border-right: 2px solid rgba(128, 128, 128, 0.541);
}
.Main {
    width: 70%;
   
}
.Title {
    font-size: 1.2rem;
    color: #1B1B1E;
    text-align: center;
    margin: 25px 0;
    padding: 25px 0;
    border-bottom: 1px solid #1b1b1e96;
}